@import "~react-image-gallery/styles/css/image-gallery.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #1d1c1c !important;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s, border-color 0.3s; 
}

* {
  box-sizing: border-box;
  margin:0;
  color:"white";
  background-color: transparent;
}


h1{margin-bottom:0!important}

a:hover {
  color: #f5cb5c; /* Change link color to yellow on hover */
  border-bottom: 2px solid #f5cb5c; /* Add yellow underline on hover */
}
.work-img{
  border-radius: 10px;
}